* {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    padding: 40px;
}

.item {
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 20px;
    background-color: #47cf73;
}